<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        .text-white {
            color: white !important; /* Ensure it overrides any conflicting styles */
        }
    </style>
</head>
<body style="background-color:black">

<!-- we will create navigation bar-->
<nav class = "navbar" style="background-color:#00a65a">
    <p class = "navbar-brand"> My Book Recommender </p>
    <!-- we add some menu items-->
    <ul class = "nav navbar-nav">
        <li><a href="/">Home </a> </li>
        <li><a href="/recommend">Recommend</a>  </li>
        <li><a>Contact</a>  </li>
    </ul>
</nav>

<!-- we will display top 50 books in body-->
<div class = "container">
   <div class = "row">
       <div class = "col-md-12">
           <h1 class="text-white" style = "font-size:60px"> Recommend Books </h1>
            <!-- we have created a form so that a user can add input-->
           <form action="/recommend_books" method="post">
                    <input name="user_input" type="text" class="form-control"><br>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
       </div>

       {% if data %}

        {% for i in data %}
       <div class="col-md-3" style = "margin-top:60px">
        <div class = "card">
           <div class = "card-body">
               <img class = "card-img-top" src="{{ i[2] }}">
               <h2 class="text-white">{{ i[0] }}</h2>
               <h4 class="text-white">{{ i[1] }}</h4>
           </div>
        </div>
        </div>
        {% endfor %}
       {% endif %}
       <!-- we will each book among top 50 books in card (body)-->


   </div>
</div>


<!-- we will each book among top 50 books in card (body)-->

</body>
</html>